.hotel-single {
    margin-top: 50px;
    margin-bottom: 50px;
}

.hotel-single-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hotel-single-img-box {
    max-width: 400px;
    width: 100%;
}

.hotel-single-img {
    display: block;
    width: 100%;
    // height: 100%;
    height: 300px;
    object-fit: cover;
    // margin-bottom: 44px;
}

.hotel-single-info-box {
    max-width: 586px;
    width: 100%;
    margin-left: 25px;
}

.hotel-single-title {
    margin-top: 0;
    margin-bottom: 16px;
    color: #0071c2;
    font-size: 35px;
}

.hotel-single-box {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.hotel-single-textbox {
    margin-right: 25px;
}

.hotel-single-info {
    margin-bottom: 8px;
}

.hotel-single-info-last {
    margin-bottom: 0;
}

.hotel-single-name {
    display: inline-block;
    margin-right: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 32px;
}

.hotel-single-desc {
    display: inline-block;
    font-size: 14px;
    line-height: 32px;
}

.hotel-single-btn {
    display: block;
    width: 100%;
    padding: 10px 5px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    background-color: #0071c2;
    border: none;
    cursor: pointer;
}

.hotel-single-modal-title {
    margin-top: 0;
    margin-bottom: 20px;
}

.hotel-single-modal-label {
    display: block;
    margin-bottom: 15px;
}

.hotel-single-modal-text {
    display: inline-block;
    margin-bottom: 5px;
}

.hotel-single-modal-input {
    display: block;
    max-width: 400px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border: 2px solid #0071C2;
}

.hotel-single-modal-textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border: 2px solid #0071C2;

    resize: none;
}

@media only screen and (max-width: 987px) {
    .hotel-single-inner {
        flex-direction: column;
    }

    .hotel-single-img-box {
        margin-bottom: 35px;
    }
}

@media only screen and (max-width: 562px) {
    .hotel-single-box {
        flex-direction: column;
        align-items: start;
    }
}