.guest-love-home {
    margin-bottom: 30px;
}

.guest-love-home-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 20px;
}

.guest-love-home-img {
    width: 241px;
    height: 250px;
    margin-bottom: 10px;
}

.guest-love-home-name {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
}

.guest-love-home-text {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 300;
}

.guest-love-home-desc {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
}

.guest-love-home-status-box {
    display: flex;
    align-items: center;
}

.guest-love-home-rating {
    display: inline-block;
    margin-right: 10px;
    padding: 3px;
    font-weight: 700;
    color: #fff;
    background-color: #003580;
}

@media only screen and (max-width: 440px) {
    .guest-love-home-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}